.DS_Store*
ehthumbs.db
._*
*~
.svn
.cvs
*.bak
*.swp
Thumbs.db
.DS_Store
.idea

# Packages #
############

*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# WordPress #
#############
wp-config.php
.htaccess
local-config.php
cache-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups/
wp-content/object-cache.php
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/tests/
wp-content/logs/

wp-content/plugins/fakerpress/
wp-content/plugins/better-search-replace/

wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups/
wp-content/object-cache.php
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/tests/
wp-content/logs/

node_modules/
bower_components/
.scssc
codekit-config.json
compass_app_log.txt