// Navigation Positioning
@mixin nav-positioner(
	$float: false,
	$center: false,
	$offset: false,
	$position: false,
	$padding: false,
	$margin: false
) {
	// If float set float parameter if inline set float to inline
	@if $float {
		@if $float == right or $float == true {
			float: right;
		} @else if $float == left {
			float: left;
		} @else if $float == inline {
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
		} @else {
			float: none;
		}
	}

	// Set center to true if nav is to be centered
	@if $center {
		margin-#{$nav-bar-top-margin}: auto;
		margin-#{$nav-bar-bottom-margin}: auto;
		float: none;
	}

	// Default is position static, set position if needing relative, absolute or fixed.
	@if $position {
		@if $position == relative or $position == true {
			position: relative;
		} @else if $position == absolute {
			position: absolute;
		} @else if $position == fixed {
			position: fixed
		} @else {
			position: static;
		}
	}

	// If positioning absolute, relative or fixed setup position
	@if $position and $offset {
		@if $nav-bar-offset-top {
			top: $nav-bar-offset-top;
		}
		@if $nav-bar-offset-right-mobile {
			top: $nav-bar-offset-right-mobile;
		}
		@include mq($mq-large) {
			@if $nav-bar-offset-right {
				right: $nav-bar-offset-right;
			}
		}
		@if $nav-bar-offset-bottom {
			bottom: $nav-bar-offset-bottom;
		}
		@if $nav-bar-offset-left {
			left: $nav-bar-offset-left;
		}
	}

	// If positioning absolute, relative or fixed setup position
	@if $margin {
		@if $nav-bar-top-margin {
			margin-top: $nav-bar-top-margin;
		}
		@if $nav-bar-right-margin {
			margin-right: $nav-bar-right-margin;
		}
		@if $nav-bar-bottom-margin {
			margin-bottom: $nav-bar-bottom-margin;
		}
		@if $nav-bar-left-margin {
			margin-left: $nav-bar-left-margin;
		}
	}

	// If positioning absolute, relative or fixed setup position
	@if $padding {
		@if $nav-bar-top-padding {
			padding-top: $nav-bar-top-padding;
		}
		@if $nav-bar-right-padding {
			padding-right: $nav-bar-right-padding;
		}
		@if $nav-bar-bottom-padding {
			padding-bottom: $nav-bar-bottom-padding;
		}
		@if $nav-bar-left-padding {
			padding-left: $nav-bar-left-padding;
		}
	}
}