/// Styles the background and border of an input field to have an error state.
///
/// @param {Color} $background [$alert-color] - Color to use for the background and border.
/// @param {Number} $background-alpha [0.1] - Transparency level of the background color.
@mixin form-input-error(
	$background: $input-background-invalid,
	$background-alpha: 0.1
) {
	&:not(:focus) {
		background-color: rgba($background, $background-alpha);
		border-color: $background;
	}
}

/// Adds error styles to a form element, using the values in the settings file.
@mixin form-error {
	display: none;
	margin-top: $form-spacing * -0.5;
	margin-bottom: $form-spacing;
	font-size: $input-error-font-size;
	font-weight: $input-error-font-weight;
	color: $input-error-color;
}

@mixin foundation-form-error {
	// Form error element
	.form-error {
		@include form-error;

		&.is-visible {
			display: block;
		}
	}
}